extends layout

block content
  ul.error-list
    li
      strong.list-title type:
      span #{type}
    li
      strong.list-title message:
      span #{message}
    li
      strong.list-title description:
      span #{description}
